extends ../layout

block content
  h1= title

  p Editer l'utilisateur :

  form(action=action method='post')
    table(border=1)
      tr
        th Pseudo
        td
          input(name='pseudo' value=user.pseudo)
      tr
        th Password
        td
          input(name='password' value=user.password)
      tr
        th Prénom
        td
          input(name='firstname' value=user.firstname)
      tr
        th Email
        td
          input(name='email' value=user.email)
      tr
        th Equipe
        td
          input(name='team' value=user.team)

    input(type='submit', value='Envoyer')
